html {
	scroll-behavior: smooth;
}

#home {
	overflow: hidden;
}

body {
	overflow-x: hidden; /*--right gutter fix--*/
	color: #505962;
	padding-top: 65px;
}

.navbar-brand img {
	height: 3rem;
}

.navbar {
	text-transform: uppercase;
	background-image: linear-gradient(to right, #3F414A , #1C1D24);
}

.navbar-nav li a {
	color: white;
}

.home-inner {
	background-image: url('img/background2.png');
}

.caption {
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 30%;
	z-index: 1;
}

.caption h3 {
	color: black;
	font-size: 3rem;
	text-transform: uppercase;
	padding-bottom: 2rem;
}

.padding {
	padding: 2rem 0;
}

.portfolio:hover {
	cursor: pointer;
}

.parent {
  width: 100%;
  height: 333px;
	overflow: hidden;
}

.child {
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-position: center;
  background-size: cover;
	transition: all .5s;
	transform: scale(1);
}

#note-portfolio {
	text-align: center;
	
}

#thepeak {
	background-image: url("img/newpeak.png");
}

#thenobis {
	background-image: url("img/newnobis.png");
}

#thethrone {
	background-image: url("img/newthrone.png");
}

#thefourth {
	background-image: url("img/newconstruction.png");
}

.parent:hover .child,
.parent:focus .child {
  transform: scale(1.2);
}

.child::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(29, 31, 39, 0.75);
}

.parent:hover .child:before,
.parent:focus .child:before {
  display: block;
}

.overtext {
	color: white; /* Good thing we set a fallback color! */
  font-family: sans-serif;
  position: absolute;
	display: none;
	font-size: 35px;
	text-align: center;
	margin: auto;
	top: 0;
  left: 0;
  bottom: 0;
  right: 0;
	height: 50px;
	text-decoration: underline;
}

#under-construction {
	color: #FFC41C;
}

.parent:hover .overtext,
.parent:focus .overtext {
  display: block;
}

.no-padding .col-md-6 {
	padding: 0;
}

.card {
	max-width: 80%;
	margin: 4rem;
	margin-top: 0.5rem;
}

.card:hover {
	cursor: pointer;
}

.footer .row {
	background-image: linear-gradient(to right, #3F414A , #1C1D24);
	padding: 1rem 2rem 3rem;
	color: white;
}

.footer img {
	height: 2rem;
}

.heading {
	margin-top: 3rem;
	color: black;
}

#resume-header {
	margin-top: 8rem;
}

#about-row {
	margin-bottom: 3rem;
	color: #111;
}

.jumbotron {
	background-color: #FFC41C;
	color: white;
}

.jumbotron h4 h3 {
	color: white;
	text-transform: uppercase;
}

h3.heading {
	text-align: center;
	font-size: 2rem;
	text-transform: uppercase;
	margin-bottom: 1.8rem;
}


.caption img {
	max-width: 50%;
}

.caption p {
	font-family: 'Karla', sans-serif;
}

.nav-pills > li > a {
	color: white!important;
}

.nav-pills > li > a.active {
	background-color: #FFC41C!important;
	border-radius: 0;
	height: 100%;
}

h1, h2, h3, h4 {
	font-family: 'Oswald', sans-serif;
	font-style: bold;
}

#landing-cap {
	width: 80%;
	max-width: 40%;
	left: 5%;
}
/*--- iOS Landing Page Fix --*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  background: #E9ECEF;
  z-index: -1;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Adds hover effect */
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: white;
  color: #272830;
}

.fa-linkedin {
  background: white;
  color: #272830;
}

.fa-dribbble {
  background: white;
  color: #272830;
}

#contactlogo {
	width: 10rem;
	height: auto;
	padding-bottom: 10px;
}

#contact-text {
	padding-bottom: 0.5rem;
}

#skillsets {
	color: black;
}

.skill-set h5 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 14px;
}

.skill-set p {
	font-family: 'Hind', sans-serif;
	font-size: 13px;
}

.skill-set {
	padding-top: 15px;
}

.contact-section {
	padding-bottom: 3rem;
	padding-top: 0;
}

#butt {
	 border: 0;
   background-color: #FFF;
   height:55px;
   width:200px;
   cursor:pointer;
	 font-size: 18px;
	 font-weight: bold;
	 text-decoration: none;
}

#butt:hover {
   background-color: #FFBD05;
   color:white;
}

#signature {
	width: 200px;
	padding-top: 2rem;
	padding-bottom: 4rem;
}

#introduction {
	padding-bottom: 0.5rem;
	font-size: 48px;
	line-height: 55px;
	font-weight: 500;
	text-transform: uppercase;
	color: black;
}

#intro {
	width: 100%;
  height: 100vh;
	z-index: -1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.rightside {
	background-image: url("img/lookleft.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 480px;
}

.fill-height {
	height: 100%;
}

.text-section {
	margin-top: 30px!important;
	width: 70%;
	margin: 0 auto;
}

.email-section {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	margin-bottom: 8rem;
}

.email-text {
	display: inline;
	color: #111;
	box-shadow: 0 2px 0 0 #ddd;

}

.contact-text {
	display: inline;
	color: #bbb;
}

.skillset-padding {
	padding-left: 3rem;
}
